/* Select all <pre> with child <code>
  (parent|ancestor selector)
  is Only available in CSS4.
  */
div.sourceCode {
  padding: 1em 2em;
  border: solid 4px #fdd;
}
pre>code.sourceCode {
  white-space: pre-wrap;
}

.plain {
  border: solid 4px #fd8;
  padding: 1em 2em;
}
