body {
    background-color: #e0e9df;
    font-size: 14pt;
    margin: 0;
    min-width: 640px;
    padding: 20px 22% 20px 6%;
}

p {
    line-height: 2em;
    word-spacing: .18em;
}

dl dt {
    font-weight: bolder;
    font-style: italic;
    padding: 2em 0 1em 0;
}

dl dd {
    padding: 0.4em 0;
}

h1:nth-of-type(1) {
    font-size: 2em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0.4em auto;
}

h3:nth-of-type(1) {
    font-size: 1.2em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

nav#TOC {
    font-size: 10pt;
    line-height: 1.4em;
    position: absolute;
    overflow: auto;
    right: 0;
    top: 0;
    width: 240px;
    z-index:10;
}

a.refo {
    align-content: center;
    justify-content: center;
    border: solid 4px #70e9df;
    border-radius: 4px;
    display: inline-flex;
    font-size: 12pt;
    line-height: 1em;
    margin: 0;
    padding: 0 2em;
    width: 48%;
}

#tango-by-symbol {
    width: 80%;
    margin: 0 auto;
}

#tango {
    color: red;
}

#tango-footnote {
    color: red;
}