table {
    margin-top: 40px;
    min-width: 480px;
}

table caption {
    margin: 20px;
}

td {
    padding: 2px 4px;
}

tr {
    outline: solid 4px #eec;
    /*border: solid 4px #eef;*/
    min-height: 3.4em;
    height: 2.4em;
}

tr.header,
tr.odd {
    background-color: #eec;
    color: #111;
}